*{
    margin: 0px 0px;
    padding: 0px 0px;
}
.container{
    min-height: 82.5vh;
}
h2{
    font-family: 'ZCOOL XiaoWei', serif;
    font-size: 4rem;
    text-align: center;
    padding: 70px 0px;
}