extends base.pug

block style
    style
        include ../static/style.css
        include ../static/alumnus.css
block content
    div.container
        h2 Shhhh! As A Policy We Don't Tell About Us To Anyone.