extends base.pug
block style
    style
        include ../static/style.css
        include ../static/alumnus.css
block content
    div.container
        h2 Priyendu Is The Only Alumnus And Will Always Be.