extends base.pug

block style
    style
        include ../static/style.css
        include ../static/educator.css
block content
    div.container
        h2 All The Subjects Are Taught By Priyendu Himself.